<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@locSvc.Localize("appName")</h1>
    </div>
    <div>
        <h2>
            @locSvc.Localize("Change_Language")

            @Html.ActionLink(locSvc.Localize("English", "en_US"), "Change", "Locale", new { culture = "en_US" })
            @Html.ActionLink(locSvc.Localize("Chinese", "zh_CN"), "Change", "Locale", new { culture = "zh_CN" })
        </h2>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
